<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <form action="/users/adminapply" method="post">
        <label for="adminCode">Please input the secret code to become an admin!!</label>
        <input type="password" placeholder="Passcode" name="adminCode" value="<%= old?.value || ''%>">
        <%if(errors?.adminCode){%>
            <p style="color: red;"><%= errors.adminCode%> </p>
            <%}%>

            <button type="submit">submit</button>
    </form>
</body>
</html>