<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form action="/blogs/addnewblog" method="post">
        <label for="title">Enter the Title of your blog.</label>
        <input type="text" placeholder="Title" name="title" required>
        <label for="blogText">Enter your blog below.</label>
        <input type="text" placeholder="Text" name="blogText" required>

        <button type="submit">Submit</button>
    </form>
</body>
</html>